@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    margin: 0;
    background:  url('../pics/háttér.jpg') fixed;
    font-family: 'Nunito', sans-serif;
}
* {
    box-sizing: border-box;
}
header {
    background: url('../pics/header.jpg');
    color: white;
    font-size: 80px;
    font-weight: 700;
    padding: 80px 60px ;
    text-shadow: 10px 10px 50px black
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
.content{
    background-color:yellowgreen;
}
.content::after ,
footer::after
 {
    content: "";
    clear: both;
    display: table;
}
nav{ width: 25%;
    float: left;
}
nav ul{
    margin: 0;
    padding: 30px;
    list-style: none;
}

nav ul li {
    border-bottom: 1px dashed rgba(255,255,255,2);
}
nav a{
    color: white;
    text-decoration: none;
    padding: 15px 0;
    display: block;
}
nav a:hover{
    padding: 15px;
    background: rgba(255,255,255,0.1);
}
main{ width: 75%;
    background-color: white;
    float: left;
padding: 30px;
}
.float-left {
    float: left;
    margin: 20px 20px 20px 0;
}
 .float-right {
    float: right;
    margin: 0 0 20px 20px;
}
main p{
    line-height: 23px;
}
footer {
    padding: 20px;
}
footer a {
    color: black;
}
footer .left {
    float: left;
}
footer .right {
    float: right;
}
h1 { 
   margin-top: 0; text-align:center;
}
h1 span{
     font-size: 30px;
    
    background:rosybrown ;
    color: green;
    -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  border-left: 10px solid rosybrown;
  border-right: 10px solid rosybrown;
  border-bottom: 7px solid rosybrown;
  line-height: 75px;
}
.sor:hover{ color: red;
    }