@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    margin: 0;
    background:  url('../pics/háttér.jpg') fixed;
    font-family: 'Nunito', sans-serif;
}
* {
    box-sizing: border-box;
}
header {
    background: url('../pics/header.jpg');
    color: white;
    font-size: 80px;
    font-weight: 700;
    padding: 80px 60px ;
    text-shadow: 10px 10px 50px black
}
.wrapper {
    max-width: 1000px;
}